.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: auto;

}
.navbar h1{
  color: red;
}
.navbar .menu a{
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
}
.navbar .menu a:hover{
  color: red;
}
.home{
  max-width: 800px;
  margin: auto;
}
.blog-preview {
	margin-left: 50px;
}