.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: auto;

}
.navbar h1{
  color: red;
}
.navbar .menu a{
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
}
.navbar .menu a:hover{
  color: red;
}
.home{
  max-width: 800px;
  margin: auto;
}
.blog-preview {
	margin-left: 50px;
}
a{
  text-decoration: none;
}
/* General Form Styling */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Title */
h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #333;
}

/* Label Styling */
label {
  display: block;
  margin: 10px 0 5px;
  font-size: 1.1em;
  color: #333;
}

/* Input Fields */
input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

/* Textarea specific styling */
textarea {
  height: 200px;
  resize: vertical; /* Allow vertical resizing */
}

/* Button Styling */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #5c6bc0;
  color: #fff;
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3f51b5;
}
